@import url('https://fonts.googleapis.com/css?family=Amaranth|Chivo|Gaegu|Knewave|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Amaranth');

.adventure-header-img {
    background: url('../../media/adventure-calm-clouds-414171.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.adventure-header-text-container {
    font-size: 3rem;
    color: white;
    position: absolute;
    bottom: 50px;
    margin: 0px 25px;
}

.adventure-header-text-name {
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-family: 'Amaranth', sans-serif;
    letter-spacing: 1px;
}

.adventure-header-text-location {
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: 'Amaranth', sans-serif; */
    font-size: 1.5rem
}