.adventure-header-img {
    background: url('../../media/adventure-calm-clouds-414171.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.adventure-header-text-container {
    font-size: 3rem;
    color: white;
    position: absolute;
    bottom: 50px;
    margin: 0px 25px;
}

.adventure-header-text-name {
    font-size: 2.2rem;
}

.adventure-header-text-location {
    font-size: 1.8rem
}