.outer-adventure{
    background: black;
    color: white;
    
}

.adventures-container {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    text-align: center;
    color: white;
    background: black;
    font-size: 25pt;
}

.adventures-header {
    background: url('../../media/adventure-calm-clouds-414171.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100vw;
    padding-top:80px;
}

.adventure-info{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 50px; */
    font-size: 25pt;
}

.ant-btn-primary {
    background-color: #7dc5a7 !important;
    border-color: #7dc5a7 !important;
}

.adventure-text{
    font-size: 30pt;
}

.adventure-texts{
    font-size: 15pt;
}

.adventures-photo {
    display: flex;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 780px;
    border: ghostwhite solid 2px;
}

@media only screen and (max-width: 600px) {
    .adventures-photo {
        display: flex;
        justify-content: center;
        width: 100vw;
        border: ghostwhite solid 2px;
    }
}