@import url('https://fonts.googleapis.com/css?family=Muli');

.AdventureWeather {
    display: flex;
    justify-content: center;
    background-color: #1c1c1c;
    color: white;
    font-family: 'Muli', sans-serif;
}

.adventure-weather-current {
    width: 90vw;
    /* background-color: blue; */
}

.adventure-weather-current {
    line-height: 30px;
    color: #bcbec0;
}

.adventure-weather-current span {
    color: white;
    margin-left: 5px;
}

.adventure-weather-forecast {
    display: flex;
    margin-top: 15px;
    margin-bottom: 50px;
}

.adventure-weather-forecast > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 7vw;
}

.adventure-weather-text {
    color: #bcbec0;
    line-height: 30px;
}

.adventure-weather-icon {
    font-size: 35px;
    margin-bottom: 10px;
}

.adventure-weather-low {
    line-height: 30px;
    font-size: .9rem
}

