@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Amaranth');

.adventure-comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1c1c;
    color: #bcbec0;
    font-family: 'Muli', sans-serif;
}

.adventure-comment-title {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Muli', sans-serif;
    color: white;
    margin-bottom: 10px;
}

.adventure-comment-first {
    line-height: 30px;
    font-size: 1.2rem;
}

.adventure-comment-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.adventure-comment-box img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.adventure-comment-user {
    text-align: center;
    margin-top: 5px;
    color: #7dc5a7;
}

.adventure-comment-edit {
    font-size: 20px;
    margin-right: 10px;
    color: #7dc5a7;
}

.adventure-comment-delete {
    font-size: 25px;
    color: #7dc5a7;
}

.adventure-comment-content {
    margin-top: 10px;
    width: 90vw;
}

.adventure-comment-edit-box {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 30px;
    align-items: center;
}

.adventure-comment-edit-box-title {
    margin-bottom: 15px;
    /* color: white; */
}

.adventure-comment-edit-box-save {
    margin-top: 30px;
    color: #151515;
    background: #7dc5a7;
    border: none;
    width: 125px;
    height: 50px;
    font-size: 2rem;
    font-family: 'Amaranth', sans-serif;
}

.adventure-comment-add {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.adventure-comment-add > div {
    margin-top: 30px;
    display: flex;
}

.adventure-comment-add h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 1.9rem;
    font-weight: 700;
    font-family: 'Muli', sans-serif;
    color: white;
}

.adventure-comment-add img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.adventure-comment-username {
    margin-top: -25px;
    color: #7dc5a7;
}

.adventure-comment-join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    line-height: 30px;
    font-size: 1.2rem;
}

.adventure-comment-join > div {
    text-align: center;
} 

.adventure-comment-join-text {
    margin-top: -20px;
}

.adventure-comment-input {
    height: 100px;
    width: 80vw;
    margin-bottom: 50px;
}

.adventure-comment-save {
    color: #151515;
    background: #7dc5a7;
    border: none;
    width: 125px;
    height: 50px;
    font-size: 2rem;
    font-family: 'Amaranth', sans-serif;
}