body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
  }
  
   a {
    /* color: rgba(25, 206, 34, 0.637); */
    text-decoration: none;
  }
  
  /* header */
  
  .header {
    background-color: rgba(87, 87, 87, 0.707);
    box-shadow: 1px 1px 4px 0  rgba(87, 87, 87, 0.693);
    position: fixed;
    top:0;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
   
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    margin:top;
    padding-left: 10px;
    padding-top: 5px;
    text-decoration: none;
    font-size:2.5em;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
    .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
   
  .header .menu-icon .navicon {
    background: rgba(87, 87, 87, 0.707);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background:  rgba(87, 87, 87, 0.707);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 400px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
   .header .menu:checked {
    display: none;
  } 
   
  

  

  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    
    .header li a {
      padding: 20px 30px;
    }
    
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  
  .button {
    position:absolute;
    top:10px;
    left:40%;
    width:170px;
    padding:10px;
    background:#BAB001;
    color:#3D3A00;
    font-size:150%;
    font-weight:bold;
    text-decoration:none;
    margin:10px auto;
    box-shadow: 
          3px 3px   0 rgba(122,   116,   1,   1.0), 
          3px 3px   0 rgba(255, 255, 255, 1.0);
  }
  
  
  #modal-box-pop {
    background-color:rgba(87, 87, 87, 0.747);;
    width:10%;
    padding:20px;
    margin:0 auto;
    border: 6px solid rgba(143, 193, 143, 0.952);
    min-height: 20%;
    display: inline-block;
    opacity: 0;
    padding: 15px;
    left:50%;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
  }
  
  
  .overlay {
      background-color: rgba(0, 0, 0, 0.6);
      bottom: 0;
      cursor: default;
      left: 0;
      opacity: 0;
      position: fixed;
      right: 0;
      top: 0;
      visibility: hidden;
      z-index: 1;
      -webkit-transition: opacity .5s;
      -moz-transition: opacity .5s;
      -ms-transition: opacity .5s;
      -o-transition: opacity .5s;
      transition: opacity .5s;
  }
  .overlay:target {
      visibility: visible;
      opacity: 1;
  }
  
  .overlay:target+#modal-box-pop {
      top: 50%;
      opacity: 1;
      visibility: visible;
  }
 
  .overlay:target+#modal-box-pop::after {
    top: 50%;
    opacity: 1;
    visibility: hidden;
    display: none;
}
  .close {
      background-color: rgba(0, 0, 0, 0.8);
      height: 22px;
      line-height: 20px;
      position: absolute;
      right: -15px;
      text-align: center;
      text-decoration: none;
      top: -15px;
      width: 30px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
  }
  .close:before {
      color: rgba(255, 255, 255, 0.9);
      content: "X";
      font-size: 14px;
      text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  }
  
  .close:hover {
      background-color: rgba(64, 128, 128, 0.8);
  }
  
  .close:after{
    display: none;
  }
  