 .header{
  height: 75px;
  position: fixed;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.616);
  color: rgba(248, 248, 248, 0.979);
  text-align: center;
  z-index: 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

}

.header-menu {
  position: fixed;
  top: 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: .5s;
  width: 100vw;
  z-index: -1;
  background: rgba(0, 0, 0, 0.856);
} 
.burger{
  margin-right: 20px;
  font-size:35px;
}
.show{
  transform: translate(0px,0px);
}

.hide {
  transform: translate(0px,-500px);
}

.header-menu li a {
  position: relative;
  color: #f2f2f2;
  padding: 14px 16px;
  font-size: 30px;
  color: rgba(248, 248, 248, 0.979);

 
}
.header .logo {
  margin-left: 10px;
  display: block;
  margin:top;
  padding-top: 5px;
  text-decoration: none;
  font-size:2.5em;
  color: white;
}  
  
.Links{
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

 @media (min-width: 48em) {
    .header li {
      float: left;
    }
    
    .header li a {
      padding: 20px 30px;
    }
    
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
  